In [1]:
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk import download
from nltk import punkt
from bs4 import BeautifulSoup
import pandas as pd
import json
from pandas import json_normalize
import os
import re
import string
from string import punctuation

In [2]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Mel
[nltk_data]     Pho\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
import numpy as np
import sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB 
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from datetime import datetime

In [ ]:
# english_stopwords = set(stopwords.words('english') + list(punctuation))

I need to create a json list that is empty to put the objects in so that I can parse it.

In [4]:
jeopardy_list = []
with open('jeopardy.json','r') as user_file:
    for jeocat in user_file:
        jeo_dict = json.loads(jeocat)
        jeopardy_list.append(jeo_dict)

Each question is group into 7 parts. For each part there are the same categories. In theory, I should be able to build a dataframe. I should be able to take the dataframe and eliminate the rows/columns that I do not need. I can then work with the list better by reducing information.

In [5]:
item = ['category', 'air_date', 'question', 'value', 'answer', 'round', 'show_number']

In [6]:
item_df = pd.DataFrame(jeo_dict, columns=['category', 'air_date', 'question', 'value', 'answer', 'round', 'show_number'])

In [7]:
jeo_df2 = item_df.drop(columns=['category','air_date', 'answer', 'round','show_number'])

In [8]:
cv = CountVectorizer()

In [9]:
jeo_df1 = jeo_df2.drop(columns='value')

In [10]:
jeo_df2['value'] = jeo_df2['value'].str.replace('$', '')

C:\Users\Mel Pho\AppData\Local\Temp\ipykernel_21376\3901180518.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  jeo_df2['value'] = jeo_df2['value'].str.replace('$', '')

In [11]:
jeo_df2['value'] = jeo_df2['value'].str.replace(',', '')

In [12]:
jeo_df2 = jeo_df2.dropna()

In [13]:
jeo_df2['value'] = jeo_df2['value'].astype('int')

In [14]:
jeo_df_low = jeo_df2[jeo_df2['value'] <= 800]
jeo_df_hi = jeo_df2[jeo_df2['value'] >= 1000]

low_val = jeo_df2.groupby('value')
jeo_df_low = low_val.get_group('100')

jeo_df_low = jeo_df2[jeo_df2['value'] in ['100', '200', '300', '400', '500', '600', '800']]
jeo_df_hi = jeo_df2[jeo_df2['value'] in ['1000','1200','1600', '2000','3200','5000']]

jeo_df_hi = jeo_df2[jeo_df2['value'] >= '1000']

def low_val():
    jeo_df_low = jeo_df2[jeo_df2['value'] <= '800']

low_val()

jeo_df_low1 = jeo_df2['value'] <= '800'
jeo_df_low = jeo_df2[jeo_df_low1]

I have the list that I want, so now I need to take the remaining words into a list of words and stuff.
#jeo_df_low = jeo_df2[jeo_df2['value'] <= '800']
#jeo_df_hi = jeo_df2[jeo_df2['value'] >= '1000']
#jeo_df_low = jeo_df2[jeo_df2['value'] in ['$100', '$200', '$300', '$400', '$500', '$600', '$800', 'NaN']]
#jeo_df_hi = jeo_df2[jeo_df2['value'] >= '$1000','$1200','$1600', '$2000','$3200','$5000']

In [15]:
jeo_df_low_q = jeo_df_low.drop(columns = ['value'])
jeo_df_hi_q = jeo_df_hi.drop(columns = ['value'])

In [16]:
jeo_df_low_str = jeo_df_low_q.astype(str) 
jeo_df_hi_str = jeo_df_hi_q.astype(str)

In [17]:
jeo_df_low_str = jeo_df_low_str['question'].to_list()
jeo_df_hi_str = jeo_df_hi_str['question'].to_list()

In [18]:
str_low = ''.join([str(slow)for slow in jeo_df_low_str])
str_hi = ''.join([str(shi)for shi in jeo_df_hi_str])

In [19]:
low_str = word_tokenize(str_low)
hi_str = word_tokenize(str_hi)

In [20]:
df_low = pd.DataFrame(low_str)
df_hi = pd.DataFrame(hi_str)

In [21]:
df_low.rename(columns={'0':'question'})
df_hi.rename(columns={'0':'question'})

              0
0         '1939
1         Oscar
2        winner
3             :
4            ``
...         ...
1235517      to
1235518     ...
1235519  return
1235520      ''
1235521       '

[1235522 rows x 1 columns]

In [22]:
df_low.insert(1,'status',0)
df_hi.insert(1,'status',1)

In [23]:
df = df_low.append(df_hi)

C:\Users\Mel Pho\AppData\Local\Temp\ipykernel_21376\460825371.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df_low.append(df_hi)

stat_df = jeo_df.drop(columns=['question', 'value'])
q_df = jeo_df.drop(columns = ['value', 'status'])
xq_str = q_df.astype(str) 
ystat_str = stat_df.astype(str)
xq_str = xq_str['question'].to_list()
ystat_str = ystat_str['status'].to_list()
str_xq = ''.join([str(elem)for elem in xq_str])
str_ystat = ''.join([str(byt)for byt in ystat_str])
x_str = word_tokenize(str_xq)
y_str = tuple(str_ystat)
jeo_df_low.insert(2, 'status', 0)
jeo_df_hi.insert(2, 'status', 1)
df_low = df_hi.append(df_hi, ignore_index=False, verify_integrity=False, sort=None)

corp = cv.fit_transform(q_df)
xq = cv.fit_transform(q_df).toarray()
xq_str = xq_str.applymap(str)
df_low['status']=''
df_hi['status']=''

str_xq = ''
str_xq.join(xq_str)

xq_str['question']=xq_str['question'].str.replace()
sent_tokenize(xq_str)

jeo_list = jeo_df.values.tolist()
download('averaged_perceptron_tagger')
download('wordnet')
jeo_str = []
for word in jeo_list:
    for character in word:
        if character in string.punctuation:
            word = word.replace(character,"")   
    jeo_str.append(word)
 
print(jeo_str)

ystat_str  = stat_df.astype(str) 
x = stat_df.loc[:, stat_df.columns != ]
df = pd.DataFrame({'y':y_str,
                  'x':x_str})

I just created two different dataframes. One is for High values and the other is for low values. I was going to take out punctuations so I will just keep the code that I made just in case.

In [24]:
df.rename(columns={'':'question',
                   'status':'status'})

              0  status
0          'For       0
1           the       0
2          last       0
3             8       0
4         years       0
...         ...     ...
1235517      to       1
1235518     ...       1
1235519  return       1
1235520      ''       1
1235521       '       1

[3994741 rows x 2 columns]

In [25]:
df.columns = ['question', 'status']

In [34]:
df_hi.columns = ['question','status']

In [29]:
df_x = df.drop(columns = ['status'])
df_y = df.drop(columns = ['question'])

In [35]:
df_hi_x = df.drop(columns = ['status'])
df_hi_y = df.drop(columns = ['question'])

In [37]:
x_train, x_test, y_train, y_test = train_test_split(df_hi_x, df_hi_y, random_state=1)

In [38]:
tfidf_vectorizer = TfidfVectorizer(use_idf= True)
x_train_tf = tfidf_vectorizer.fit_transform(x_train)
x_test_tf = tfidf_vectorizer.transform(x_test)

In [ ]:
stand = StandardScaler
fithi = stand.fit(xtrain)
x_scaled = fithi.transform(xtrain)

In [ ]:
x_traincv = cv.fit_transform([df_hi_y])

In [42]:
naive_bayes = MultinomialNB()

In [44]:
naive_bayes.fit(x_train_tf, y_train)

d:\Python\venv\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Found input variables with inconsistent numbers of samples: [1, 2996055]

In [43]:
predictions = naive_bayes.predict(x_test_tf)

NotFittedError: This MultinomialNB instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [ ]:
print('Accuracy: ', accuracy_score(y_test, predictions))